
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
  }
  
  form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  .input-box {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  